<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302251021521-tcqggeue0alla0avjplpkn2jjo85daa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302251021521-tcqggeue0alla0avjplpkn2jjo85daa6</string>
	<key>API_KEY</key>
	<string>AIzaSyAqnoqrJb3Wgd2GKdihPdMlLcEyRJ1TS-c</string>
	<key>GCM_SENDER_ID</key>
	<string>302251021521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alex.Rideshare</string>
	<key>PROJECT_ID</key>
	<string>rideshare-91422</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-91422.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302251021521:ios:1c3b8043df4c12e09361f0</string>
</dict>
</plist>